<a href="https://colab.research.google.com/github/revan-desai/pythonprograms/blob/main/brane_enterprise_interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

In [36]:
d={}
for i in students:
  name,score=i[0],i[1]
  if name not in d:
    d[name]=score

res=dict(sorted(d.items(),key=lambda x:x[1]))
res

{'Tina': 37.2, 'Harry': 37.21, 'Berry': 37.21, 'Harsh': 39, 'Akriti': 41}

In [41]:
res1=tuple(sorted(d.items(),key=lambda x:x[1]))
print(res1[0],res1[-1])

('Tina', 37.2) ('Akriti', 41)

In [26]:
result=sorted(students,key=lambda x:x[1])
print(f"topper is {result[-1][0]} with {result[-1][1]} marks")
print(f"lowest scorer is {result[0][0]} with {result[0][1]} marks")

topper is Akriti with 41 marks
lowest scorer is Tina with 37.2 marks