<a href="https://colab.research.google.com/github/revan-desai/pythonprograms/blob/main/brane_enterprise_interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

In [23]:
d={}
for i in students:
  name,score=i[0],i[1]
  if name not in d:
    d[name]=score

dict(sorted(d.items(),key=lambda x:x[1]))

{'Tina': 37.2, 'Harry': 37.21, 'Berry': 37.21, 'Harsh': 39, 'Akriti': 41}

In [24]:
result=sorted(students,key=lambda x:x[1])
print(f"topper is {result[-1][0]} with {result[-1][1]} marks")

topper is Akriti with 41 marks