<a href="https://colab.research.google.com/github/revan-desai/pythonprograms/blob/main/python_int_prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
def fibo(n:int)->int:
  if n<=1:
    return 1
  else:
    return fibo(n-1)+fibo(n-2)

for i in range(10):
 print(fibo(i))

1
1
2
3
5
8
13
21
34
55

In [20]:
def facto(n:int)->int:  #5 4
   res=1
   for i in range(n):
    res*=(n-i)
   return res

facto(5)

120

In [ ]:
students_dict = {
    "Alice Johnson": 19,
    "Bob Smith": 21,
    "Charlie Davis": 20,
    "Diana Lee": 22,
    "Ethan Clark": 18,
    "Fiona Martinez": 23,
    "George White": 20,
    "Hannah Harris": 21,
    "Ivy Robinson": 19,
    "Jack Turner": 22
}
dict(sorted(students_dict.items(),key=lambda x:x[1]))

{'Ethan Clark': 18,
 'Alice Johnson': 19,
 'Ivy Robinson': 19,
 'Charlie Davis': 20,
 'George White': 20,
 'Bob Smith': 21,
 'Hannah Harris': 21,
 'Diana Lee': 22,
 'Jack Turner': 22,
 'Fiona Martinez': 23}

In [ ]:
words = ['Hello', 'WORLD', 'Python', 'ProGRamming']

[word.lower() for word in words]

['hello', 'world', 'python', 'programming']

In [21]:
def prime(n:int)->bool:
 if n<=1:
    return False
 for i in range(2,n):  # 1 "2 3 4 5 6" 7
  if n%i==0:
    return False
 return True
prime(7)

True

In [22]:
def largest(l:list)->int:
   max=0
   for i in l:
    if i>max:
      max=i
   return max

largest([1,9,2,3,6,8,5])

9

In [23]:
num=[1,9,2,3,6,8,5]
for i in range(len(num)-1):
  for j in range(i+1,len(num)):
   if num[j]<num[i]:
    num[i],num[j]=num[j],num[i]
num

[1, 2, 3, 5, 6, 8, 9]

In [11]:
numbers = [1, 9, 4, 2, 9, 3, 5, 6, 9, 2]
d={}
for i in numbers:
  if i not in d:
    d[i]=1
  else:
    d[i]+=1

sorted(d.items(),key=lambda x:x[1])[-1][0]

9

In [17]:
numbers = [1, 9, 4, 2, 9, 3, 5, 6, 9, 7]

print(sorted(set(numbers))[-2])
print(numbers)

7
[1, 9, 4, 2, 9, 3, 5, 6, 9, 7]

In [4]:
print(float("-inf")<1000)

True

In [3]:
def missing_num(l:list)->int:
 return min([i for i in range(min(l),max(l)+1) if i not in l and i>0])

missing_num([-1,2,6,4,1,8,9])

3

In [2]:
l=[-1,2,6,4,1,8,9]

min([i for i in range(min(l),max(l)+1) if i not in l])

0

In [42]:
def fibo(n:int)->list:
  if n<=1:
    return n
  else:
    fib_seq=[0,1]
    for i in range(2,n):
      fib_seq.append(fib_seq[-1]+fib_seq[-2])
    return fib_seq

fibo(2)          #without recursion bcoz better time complexity  O(n).....in recusrion it is O(n^2)

[0, 1]